/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.none {
  display: none;
}

.secondary-btn {
  border: 2px solid #458FF6;
  border-radius: 55px;
  padding: 13px 91px;
  color: #458FF6;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 60px; */
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 50px;
}
.header__nav-logo {
  color: #3C567B;
  font-size: 24px;
  font-weight: 700;
}
.header__nav-list {
  display: flex;
  gap: 60px;
  font-weight: 700;
}
@media screen and (max-width: 1069px) {
  .header__nav-list {
    gap: 30px;
  }
}
.header__nav-list a {
  color: #79899F;
  transition: color 0.2s ease-in;
}
.header__nav-list a:hover {
  color: #3C567B;
}

.header__title {
  margin-top: 248px;
  font-size: 48px;
  color: #3C567B;
  font-weight: 700;
  line-height: 56px;
}
@media screen and (max-width: 1069px) {
  .header__title {
    margin-top: 200px;
  }
}

.header__text {
  margin-top: 30px;
  color: #79899F;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.38px;
}

.header__btn {
  margin-top: 50px;
  margin-bottom: 274px;
  background-color: #458FF6;
  color: #fff;
  width: 191px;
  height: 68px;
  border-radius: 55px;
  transition: background-color 0.2s ease-in;
}
.header__btn:hover {
  background-color: #3C567B;
}

.header__container {
  display: flex;
  padding: 0 10px;
}
.header__container-right {
  margin-top: 200px;
}
.header__container-img {
  width: 577px;
  height: 392px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1069px) {
  .header__container-img {
    display: none;
  }
}

.services {
  background-color: #F3FBFF;
}

.services__title {
  padding-top: 110px;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  color: #3C567B;
  text-align: center;
}

.services__text {
  margin-top: 36px;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.38px;
  text-align: center;
  color: #79899F;
}

.services__btn {
  display: block;
  margin: 0px auto;
  margin-top: 90px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 111px;
}

.card__element {
  width: 360px;
  height: 354px;
  background-color: #fff;
  display: inline-block;
  border-radius: 20px;
  padding: 59px 62px;
}

.card__img {
  display: block;
  margin: 0 auto;
  width: 95px;
  height: 90px;
}

.card__element-title {
  /* margin-top: 17px; */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
}

.card__element-text {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #79899F;
}/*# sourceMappingURL=main.css.map */