//fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');

//vars
$mulish: 'Mulish', sans-serif;

//colors
$bg: #fff;
$secondary-bg: #F3FBFF;
$main-text: #3C567B;
$secondary-text: #79899F;
$btn: #458FF6; 

//styles
body {
    font-family: $mulish;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.none {
    display: none;
}
.secondary-btn {
    border: 2px solid $btn;
    border-radius: 55px;
    padding: 13px 91px;
    color: $btn;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 60px; */
}